body {
}

textarea {
    border: 1px solid #999999;
    width: 100%;
    padding: 7px 0 7px 7px;
    position: relative;
}

label {
    font-weight: normal;
}

table {
    font-size: 12px;
}

h1 {
    font-weight: bold;
}

td {
    white-space: pre; /* CSS 2.0 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3.0 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap; /* HP Printers */
    word-wrap: break-word; /* IE 5+ */
}

.container {
    width: 940px;
}

.button-padding {
    padding: 0px 7px 0px 7px;
}

.button-inner-margin {
    margin-left: 10px;
}

.remove-margin {
   padding: 0 !important;
   margin: 0 !important;
}

.navbar-brand {
    font-size: 20px;
}
.error-text {
    color: red;
    font-weight: bold;
}

.strong-text {
    font-weight: bold;
}
.table-nonfluid {
   width: 550px;
}

.td-column-timetype {
    width: 300px;
}

.td-total {
    font-weight:bold;
}

.th-column {
    padding: 4px 20px 4px 5px !important;
}

.column-small {
    width: 40px !important;
}

.column-medium {
    width: 70px !important;
}

.column-large {
    width: 85px !important;
}

.column-xlarge {
    width: 100px !important;
}

.td-column-right {
    text-align: right !important;
    padding-right: 20px !important;
}

.footer-column {
    font-weight: bold;
    padding: 4px 20px 4px 5px !important;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}
