body {
}

textarea {
    border: 1px solid #999999;
    width: 100%;
    padding: 7px 0 7px 7px;
    position: relative;
    left: -8px; /* 1px border, too */
}

td {
    white-space: pre; /* CSS 2.0 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3.0 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap; /* HP Printers */
    word-wrap: break-word; /* IE 5+ */
}


.th-column {
    padding: 4px 20px 4px 5px !important;
}

.footer-column {
    font-weight: bold;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}
